<a href="https://colab.research.google.com/github/gisellart/Python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Variables
numero = 17
decimal = 0.7
texto="Texto"
#Debe ser capitalizada la palabra: True o False no vale si es con puras mayusculas o minusculas 
booleanos = True

print(booleanos)
print(type(booleanos))

True
<class 'bool'>

In [ ]:
tupla = ()
lista = []
set_ = {}
diccionario = {2:2, 1:5}

In [5]:
#Es inmutable, no puedes cambiar los valores una vez agregados 
tupla = ("hola", 2)
lista = [6,7,3,1,6]
#set no repite los valores
set_={1,2,3,4,5,1,1}
diccionario= {2:2, 1:5}

print(tupla)
print(type(tupla))
print(lista)
print(type(lista))
print(set_)
print(type(set_))
print(diccionario)
print(type(diccionario))

('hola', 2)
<class 'tuple'>
[6, 7, 3, 1, 6]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>
{2: 2, 1: 5}
<class 'dict'>

In [11]:
a = 3
b = "12"
c = a * b
print(c)
r = "12"
print(type(r))

#int para cambiar el tipo de variable a tipo entero
s= int(r)
print(type(s))

121212
<class 'str'>
<class 'int'>

In [12]:
r= "12"
print(type(r))
r = int(r)
print(type(r))
s= r+2
print(s)

<class 'str'>
<class 'int'>
14

In [14]:
r= 12
print(type(r))
r = str(r)
print(type(r))
s= "Numero: "+ r
print(s)

<class 'int'>
<class 'str'>
Numero: 12

In [4]:
r= "12.7"
print(type(r))
#float variable tipo flotante usado para decimales
r = float(r)
print(type(r))
s= r+2 
print(s)

<class 'str'>
<class 'float'>
14.7

In [5]:
r= 12.7
print(type(r))
r = str(r)
print(type(r))
s= "Numero: "+ r
print(s)

<class 'float'>
<class 'str'>
Numero: 12.7

In [10]:
Edad = input("Introduce tu edad:  ")
print(type(Edad))
num="4"
num= float (num)
print(type(num))
num

Introduce tu edad:  20
<class 'str'>
<class 'float'>

4.0

In [12]:
Edad = input("Introduce tu edad:  ")
print(type(Edad))
Edad_num = float(Edad)
print(type(Edad_num))

Introduce tu edad:  20
<class 'str'>
<class 'float'>

In [14]:
Edad = float (input("Introduce tu edad:  "))
print(type(Edad))
Edad_nueva = Edad*2 -2
print(Edad_nueva)

Introduce tu edad:  20
<class 'float'>
38.0